*{
    padding: 0%;
    margin: 0%;
}

header {
    background-color: whitesmoke;
    padding: 0%;
    margin:0%;
}

footer{
   position: absolute;
    botton: 0;
    width: 100%;
    background-color: whitesmoke;
}